.container{
  width: 80%;
}
.card{
  width: 300px;
}
.mat-sort-header-container {
  align-items: center;
}
.mat-table {
 width: 100%;
 margin: 20px auto;
 padding: 15px;
 cursor: pointer;
}
.mat-header-cell {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-left-color: black;
  align-content: center;
}

.mat-cell {
  flex: 0 0 30%;
  font-size: 15px;
  padding: 10px;
}
.mat-column-Actions {
  flex: 0 0 100px !important;
  white-space: unset !important;
}
.calPadding{
  padding: 5px;
}

th.mat-sort-header-sorted {
  color: black;
  align-self: auto;
}

.action-menu {
  padding: 20px;
   .btn {
     background-color: #ffa500;
    //  .icon {
    //   // font-size: 40px;

    //  }
   }
}

.release-details {
  padding: 10px 15px;
}
.panelborder{
  border : 1px solid  #1565C0;
}

.header {
  background-color: #337ab7!important;;
  height: 40px  !important;
  padding: 5  !important;
}

.h4fontcolor {
  color: white;
  font-family : inherit;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  }

  .calPadding {
    padding: 5px !important;
    // border: black;
    border:groove 6px orange;
  }
