<div fxLayout="column" fxLayoutAlign="start space-around" class="container">
   <div class="action-menu" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="start end">

    <form class="project-search-form"
      fxLayout="row"
      fxLayoutGap="50px">
      <mat-form-field class="form-field">
        <input
          type="text"
          placeholder="Search for a Project"
          aria-label="Project" matInput
          [formControl]="myControl"
          [matAutocomplete]="auto"/>
        <mat-autocomplete (optionSelected)='getMlcs($event.option.value)'
        #auto="matAutocomplete">
            <mat-option
              *ngFor="let project of projects"
              [value]="project?.projectName">
              {{project?.projectName}}
            </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="form-field"
        *ngIf="isMlcsVisible">
      <input
        type="text"
        placeholder="Select a MLC"
        aria-label="selectedMlcData" matInput
        [formControl]="myMlc"
        [matAutocomplete]="auto"/>
      <mat-autocomplete (optionSelected)='getMLCData($event.option.id)'
      #auto="matAutocomplete">
          <mat-option
            *ngFor="let selectMlcData of mlcs"
            [id]="selectMlcData.id"
            [value]="selectMlcData.releaseType+'/'+ selectMlcData.releaseNo">
            {{selectMlcData.releaseType +'/'+ selectMlcData.releaseNo}}
          </mat-option>
      </mat-autocomplete>

      </mat-form-field>
      <mat-form-field *ngIf="isDatesVisible">
        <input matInput [matDatepicker]="picker1" placeholder="Project Kickoff date" [formControl]="pkDate"
        (dateInput)="changePKDate('input', $event)" (dateChange)="changePKDate('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field *ngIf="isDatesVisible">
        <input matInput [matDatepicker]="picker2" placeholder="Software Kickoff Date" [formControl]="skDate"
        (dateInput)="changeSWKDate('input', $event)" (dateChange)="changeSWKDate('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </form>

    <button mat-button class="btn" *ngIf="isDatesVisible" (click)="editProject()">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="icon">add</mat-icon>Get Checklist
      </div>
    </button>


  </div>
<div class="release-details" fxLayout="column" *ngIf="isChecklistsVisible" >
    <mat-expansion-panel class="panelborder">
        <mat-expansion-panel-header class="header" >
          <mat-panel-title>
              <h4 class="h4fontcolor">Project Startup Phase</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
     <table mat-table [dataSource]="startUpChecklist" class="mat-elevation-z8 matTable">
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
        <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef> DueDate </th>
            <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell  *matCellDef="let element">
            <div>

            <select matNativeControl required>
              <option value="open">Open</option>
              <option value="close">Close</option>
              <option value="notApplicable">Not applicable</option>
            </select>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="mksOppLocation">
          <th mat-header-cell *matHeaderCellDef >MKS/Opp Location</th>
          <td mat-cell  *matCellDef="let element">
            <div class="calPadding">
              <textarea class="txtarea" matInput [(ngModel)]="element.mksOppLocation"></textarea>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="linksComments">
          <th mat-header-cell *matHeaderCellDef >Links/Comments</th>
          <td mat-cell  *matCellDef="let element">
            <div class="calPadding">
              <textarea class="txtarea" matInput [(ngModel)]="element.linksComments"></textarea>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
   </mat-expansion-panel>
</div>

<div class="release-details" fxLayout="column" *ngIf="isChecklistsVisible" >
    <mat-expansion-panel class="panelborder">
        <mat-expansion-panel-header class="header" >
          <mat-panel-title>
              <h4 class="h4fontcolor">Requirement Freeze</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="reqFreezeChecklist" class="mat-elevation-z8 matTable">
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="dueDate">
                <th mat-header-cell *matHeaderCellDef> DueDate </th>
                <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status</th>
                <td mat-cell *matCellDef="let element">
                        <div>
                        <select matNativeControl required>
                          <option value="open">Open</option>
                          <option value="close">Close</option>
                          <option value="notApplicable">Not applicable</option>
                        </select>
                        </div>
                      </td>
            </ng-container>
            <ng-container matColumnDef="mksOppLocation">
              <th mat-header-cell *matHeaderCellDef>MKS/Opp Location</th>
              <td mat-cell  *matCellDef="let element">
                <div class="calPadding">
                  <textarea class="txtarea" matInput [(ngModel)]="element.mksOppLocation"></textarea>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="linksComments">
              <th mat-header-cell *matHeaderCellDef>Links/Comments</th>
              <td mat-cell  *matCellDef="let element">
                <div class="calPadding">
                  <textarea class="txtarea" matInput [(ngModel)]="element.linksComments"></textarea>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
    </mat-expansion-panel>
</div>

<div class="release-details" fxLayout="column" *ngIf="isChecklistsVisible" >
    <mat-expansion-panel class="panelborder">
        <mat-expansion-panel-header class="header" >
          <mat-panel-title>
              <h4 class="h4fontcolor">Software Implementation</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="swImplementationChecklist" class="mat-elevation-z8 matTable">
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="dueDate">
                <th mat-header-cell *matHeaderCellDef> DueDate </th>
                <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status (Open/Close/Not applicable)</th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="mksOppLocation">
              <th mat-header-cell *matHeaderCellDef >MKS/Opp Location</th>
              <td mat-cell  *matCellDef="let element">
                <div class="calPadding">
                  <textarea class="txtarea" matInput [(ngModel)]="element.mksOppLocation"></textarea>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="linksComments">
              <th mat-header-cell *matHeaderCellDef >Links/Comments</th>
              <td mat-cell  *matCellDef="let element">
                <div class="calPadding">
                  <textarea class="txtarea" matInput [(ngModel)]="element.linksComments"></textarea>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
    </mat-expansion-panel>
</div>

<div class="release-details" fxLayout="column" *ngIf="isChecklistsVisible" >
    <mat-expansion-panel class="panelborder">
        <mat-expansion-panel-header class="header" >
          <mat-panel-title>
              <h4 class="h4fontcolor">Before MLC-xx Software Pre-Freeze</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="beforeSWPreFreezeChecklist" class="mat-elevation-z8 matTable">
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="dueDate">
                <th mat-header-cell *matHeaderCellDef> DueDate </th>
                <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status (Open/Close/Not applicable)</th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="mksOppLocation">
              <th mat-header-cell *matHeaderCellDef >MKS/Opp Location</th>
              <td mat-cell  *matCellDef="let element">
                <div class="calPadding">
                  <textarea class="txtarea" matInput [(ngModel)]="element.mksOppLocation"></textarea>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="linksComments">
              <th mat-header-cell *matHeaderCellDef >Links/Comments</th>
              <td mat-cell  *matCellDef="let element">
                <div class="calPadding">
                  <textarea class="txtarea" matInput [(ngModel)]="element.linksComments"></textarea>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
    </mat-expansion-panel>
</div>

<div class="release-details" fxLayout="column" *ngIf="isChecklistsVisible" >
    <mat-expansion-panel class="panelborder">
        <mat-expansion-panel-header class="header" >
          <mat-panel-title>
              <h4 class="h4fontcolor">Before MLC-xx Software Freeze</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="beforeSWFreezeChecklist" class="mat-elevation-z8 matTable">
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="dueDate">
                <th mat-header-cell *matHeaderCellDef> DueDate </th>
                <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status (Open/Close/Not applicable)</th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="mksOppLocation">
              <th mat-header-cell *matHeaderCellDef >MKS/Opp Location</th>
              <td mat-cell  *matCellDef="let element">
                <div class="calPadding">
                  <textarea class="txtarea" matInput [(ngModel)]="element.mksOppLocation"></textarea>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="linksComments">
              <th mat-header-cell *matHeaderCellDef >Links/Comments</th>
              <td mat-cell  *matCellDef="let element">
                <div class="calPadding">
                  <textarea class="txtarea" matInput [(ngModel)]="element.linksComments"></textarea>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
    </mat-expansion-panel>
</div>

<div class="release-details" fxLayout="column" *ngIf="isChecklistsVisible" >
    <mat-expansion-panel class="panelborder">
        <mat-expansion-panel-header class="header" >
          <mat-panel-title>
              <h4 class="h4fontcolor">Before MLC-xx Software Release</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table mat-table [dataSource]="beforeSWReleaseChecklist" class="mat-elevation-z8 matTable">
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="dueDate">
                <th mat-header-cell *matHeaderCellDef> DueDate </th>
                <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status (Open/Close/Not applicable)</th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="mksOppLocation">
              <th mat-header-cell *matHeaderCellDef >MKS/Opp Location</th>
              <td mat-cell  *matCellDef="let element">
                <div class="calPadding">
                  <textarea class="txtarea" matInput [(ngModel)]="element.mksOppLocation"></textarea>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="linksComments">
              <th mat-header-cell *matHeaderCellDef >Links/Comments</th>
              <td mat-cell  *matCellDef="let element">
                <div class="calPadding">
                  <textarea class="txtarea" matInput [(ngModel)]="element.linksComments"></textarea>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
    </mat-expansion-panel>
</div>

<div class="release-details" fxLayout="column" *ngIf="isChecklistsVisible" >
    <mat-expansion-panel class="panelborder">
        <mat-expansion-panel-header class="header" >
          <mat-panel-title>
              <h4 class="h4fontcolor">After MLC-xx SW Release</h4>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table mat-table [dataSource]="afterSWReleaseChecklist" class="mat-elevation-z8 matTable">
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="dueDate">
                <th mat-header-cell *matHeaderCellDef> DueDate </th>
                <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status (Open/Close/Not applicable)</th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="mksOppLocation">
              <th mat-header-cell *matHeaderCellDef >MKS/Opp Location</th>
              <td mat-cell  *matCellDef="let element">
                <div class="calPadding">
                  <textarea class="txtarea" matInput [(ngModel)]="element.mksOppLocation"></textarea>
                </div>
              </td>
            </ng-container>

              <ng-container matColumnDef="linksComments">
                <th mat-header-cell *matHeaderCellDef >Links/Comments</th>
                <td mat-cell  *matCellDef="let element">
                  <div class="calPadding">
                    <textarea class="txtarea" matInput [(ngModel)]="element.linksComments"></textarea>
                  </div>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         </table>
    </mat-expansion-panel>
</div>

</div>
