.form-heading{
  background-color: #ffa500;
 font-weight: 1000;
 padding: 25px;
 padding-top: 25px;
 margin: -24px;
}
.mat-dialog-container{
  padding: 0px 24px !important;
}
.form{
margin-top: 35px; 
}
